In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies= pd.read_csv('movies_metadata.csv')
credits= pd.read_csv('credits.csv')
keywords= pd.read_csv('keywords.csv')

C:\Users\gusai\AppData\Local\Temp\ipykernel_7852\4275177920.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies= pd.read_csv('movies_metadata.csv')

In [3]:
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [4]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
keywords['id']=keywords['id'].fillna(0.0).astype(int)

In [6]:
movies.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [7]:
keywords.dtypes

id           int32
keywords    object
dtype: object

In [8]:
movies['id'] = pd.to_numeric(movies['id'], errors='coerce') #converting all the ids from string to numeric

In [9]:
movies.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                       float64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [10]:
movies['id']=movies['id'].fillna(0.0).astype(int)# converting id to int from float

In [11]:
movies=movies.merge(keywords,on='id')

In [12]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [13]:
credits['id'] = pd.to_numeric(credits['id'], errors='coerce') # converting id to int from float

In [14]:
movies=movies.merge(credits,on='id')

In [15]:
del credits,keywords

In [16]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46623,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[{'id': 10703, 'name': 'tragic love'}]","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
46624,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
46625,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,[],"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
46626,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,[],Released,NaN,Satan Triumphant,False,0.0,0.0,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
46627,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [17]:
movies=movies[movies['vote_count']>=100]
#selecting movies which have more than 100 vote counts

In [18]:
movies.shape

(6132, 27)

In [19]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."

In [20]:
#discarding non useful data
movies=movies[['belongs_to_collection', 'genres', 'id','original_language','overview', 'tagline', 'title','imdb_id','keywords','cast','crew']]

In [21]:
movies.head(2)

,belongs_to_collection,genres,id,original_language,overview,tagline,title,imdb_id,keywords,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",NaN,Toy Story,tt0114709,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Jumanji,tt0113497,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [22]:
movies.fillna(' ',inplace=True) #replacing NaN with ' ' 
movies.shape

(6132, 11)

In [23]:
movies.drop_duplicates(['id'], inplace=True)# delecting movies with same ids

In [24]:
movies.shape

(6050, 11)

In [25]:
movies.duplicated().sum()

0

In [26]:
movies.iloc[0].genres

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [27]:
def convert(obj): #converts the string into list 
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [28]:
movies['genres'] = movies['genres'].apply(convert)

In [29]:
movies.head()

,belongs_to_collection,genres,id,original_language,overview,tagline,title,imdb_id,keywords,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",,Toy Story,tt0114709,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Jumanji,tt0113497,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
4,"{'id': 96871, 'name': 'Father of the Bride Col...",[Comedy],11862,en,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,tt0113041,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
5,,"[Action, Crime, Drama, Thriller]",949,en,"Obsessive master thief, Neil McCauley leads a ...",A Los Angeles Crime Saga,Heat,tt0113277,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
6,,"[Comedy, Romance]",11860,en,An ugly duckling having undergone a remarkable...,You are cordially invited to the most surprisi...,Sabrina,tt0114319,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."

In [30]:
movies.iloc[0].keywords

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [31]:
movies['keywords'] = movies['keywords'].apply(convert)

In [32]:
def convert3(obj): #extracting first 3 cast from movies
    L=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
            
    return L

In [33]:
movies['cast']=movies['cast'].apply(convert3)

In [34]:
def fetch_director(obj): #extracting director name from crew members
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [35]:
movies['crew']=movies['crew'].apply(fetch_director)

In [36]:
movies.head()

,belongs_to_collection,genres,id,original_language,overview,tagline,title,imdb_id,keywords,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",,Toy Story,tt0114709,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Jumanji,tt0113497,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
4,"{'id': 96871, 'name': 'Father of the Bride Col...",[Comedy],11862,en,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,tt0113041,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]
5,,"[Action, Crime, Drama, Thriller]",949,en,"Obsessive master thief, Neil McCauley leads a ...",A Los Angeles Crime Saga,Heat,tt0113277,"[robbery, detective, bank, obsession, chase, s...","[Al Pacino, Robert De Niro, Val Kilmer]",[Michael Mann]
6,,"[Comedy, Romance]",11860,en,An ugly duckling having undergone a remarkable...,You are cordially invited to the most surprisi...,Sabrina,tt0114319,"[paris, brother brother relationship, chauffeu...","[Harrison Ford, Julia Ormond, Greg Kinnear]",[Sydney Pollack]

In [37]:
movies.iloc[0].belongs_to_collection

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [38]:
def convert1(obj): #converts the string into list 
    if obj==' ':
        return ' '
    obj=ast.literal_eval(obj) 
    return obj['name']

In [39]:
convert1(movies.iloc[0].belongs_to_collection)

'Toy Story Collection'

In [40]:
movies['belongs_to_collection']=movies['belongs_to_collection'].apply(convert1)

In [41]:
movies.head()

,belongs_to_collection,genres,id,original_language,overview,tagline,title,imdb_id,keywords,cast,crew
0,Toy Story Collection,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",,Toy Story,tt0114709,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Jumanji,tt0113497,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
4,Father of the Bride Collection,[Comedy],11862,en,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,tt0113041,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]
5,,"[Action, Crime, Drama, Thriller]",949,en,"Obsessive master thief, Neil McCauley leads a ...",A Los Angeles Crime Saga,Heat,tt0113277,"[robbery, detective, bank, obsession, chase, s...","[Al Pacino, Robert De Niro, Val Kilmer]",[Michael Mann]
6,,"[Comedy, Romance]",11860,en,An ugly duckling having undergone a remarkable...,You are cordially invited to the most surprisi...,Sabrina,tt0114319,"[paris, brother brother relationship, chauffeu...","[Harrison Ford, Julia Ormond, Greg Kinnear]",[Sydney Pollack]

In [42]:
movies['overview']=movies['overview'].apply(lambda x:x.split()) 
#converts string into list of keywords

In [43]:
movies.head(2)

,belongs_to_collection,genres,id,original_language,overview,tagline,title,imdb_id,keywords,cast,crew
0,Toy Story Collection,"[Animation, Comedy, Family]",862,en,"[Led, by, Woody,, Andy's, toys, live, happily,...",,Toy Story,tt0114709,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,,"[Adventure, Fantasy, Family]",8844,en,"[When, siblings, Judy, and, Peter, discover, a...",Roll the dice and unleash the excitement!,Jumanji,tt0113497,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]

In [44]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])
#removes spaces from the list so that first name and last name are single object

In [45]:
movies.head(2)

,belongs_to_collection,genres,id,original_language,overview,tagline,title,imdb_id,keywords,cast,crew
0,Toy Story Collection,"[Animation, Comedy, Family]",862,en,"[Led, by, Woody,, Andy's, toys, live, happily,...",,Toy Story,tt0114709,"[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter]
1,,"[Adventure, Fantasy, Family]",8844,en,"[When, siblings, Judy, and, Peter, discover, a...",Roll the dice and unleash the excitement!,Jumanji,tt0113497,"[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston]

In [46]:
movies['tags']=movies['overview'] +movies['genres'] + movies ['keywords']+movies['cast'] +movies['crew'] # storing all tags in single column

In [47]:
new_df =movies[['id','title','tags','tagline','belongs_to_collection']]

In [48]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))
#converts tags into strings

C:\Users\gusai\AppData\Local\Temp\ipykernel_7852\261170714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [49]:
new_df['tags']=new_df['tags']+new_df['tagline']+new_df['tagline']

C:\Users\gusai\AppData\Local\Temp\ipykernel_7852\1407380288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags']+new_df['tagline']+new_df['tagline']

In [50]:
new_df =new_df[['id','title','tags']]

In [51]:
new_df.iloc[0].tags

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. Animation Comedy Family jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife TomHanks TimAllen DonRickles JohnLasseter  "

In [52]:
new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

C:\Users\gusai\AppData\Local\Temp\ipykernel_7852\899821970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

In [53]:
new_df.head()

,id,title,tags
0,862,Toy Story,"led by woody, andy's toys live happily in his ..."
1,8844,Jumanji,when siblings judy and peter discover an encha...
4,11862,Father of the Bride Part II,just when george banks has recovered from his ...
5,949,Heat,"obsessive master thief, neil mccauley leads a ..."
6,11860,Sabrina,an ugly duckling having undergone a remarkable...

In [54]:
new_df[new_df['title']=='Spectre'].index[0]

30971

In [55]:
#as you can see that there are many words in above list with same meaning but with -ed,-s,etc for eg action and actions
#for better prediction these words must be combined in single dimension
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [56]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [57]:
new_df['tags']=new_df['tags'].apply(stem)
new_df.reset_index(inplace=True)

In [58]:
#performing count vectorization 
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=5000,stop_words='english')
vector1=cv.fit_transform(new_df['tags']).toarray()
cv.get_feature_names()
from sklearn.metrics.pairwise import cosine_similarity
similarity1=cosine_similarity(vector1) #calculating the cosine distances in multidimensional array

C:\Users\gusai\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [59]:
def recommend1(movie):
    movie_index =new_df[new_df['title']==movie].index[0]
    distances=similarity1[movie_index]
    movies_list=sorted (list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:21]
    #above line will pair the index with cosine values so that it do not gets lost 
    L=[]
    for i in movies_list:
        L.append(i[0])
    return L

In [60]:
new_df['BagOfWords']=new_df['title'].apply(recommend1)

In [61]:
#performing TF-IDF on tags from new_df

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [63]:
vectorizer=TfidfVectorizer(max_features=6000,stop_words='english')

In [64]:
vectorizer.fit_transform(new_df['tags'])

<6050x6000 sparse matrix of type '<class 'numpy.float64'>'
	with 201714 stored elements in Compressed Sparse Row format>

In [65]:
vectors=vectorizer.fit_transform(new_df['tags']).toarray()

In [66]:
vectors.shape

(6050, 6000)

In [67]:
vectorizer.get_feature_names()

C:\Users\gusai\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '13th',
 '14',
 '15',
 '150',
 '16',
 '16th',
 '17',
 '18',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1940',
 '1945',
 '1950',
 '1950s',
 '1959',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1972',
 '1974',
 '1975',
 '1977',
 '1980',
 '1985',
 '1986',
 '1990',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2001',
 '2009',
 '20th',
 '21st',
 '22',
 '22nd',
 '23',
 '24',
 '25',
 '26',
 '28',
 '30',
 '300',
 '35',
 '3d',
 '40',
 '400',
 '50',
 '500',
 '60',
 '70',
 '80',
 '90',
 'aaron',
 'aaroneckhart',
 'aarontaylor',
 'abandon',
 'abbi',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abroad',
 'absolut',
 'abus',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'acquir',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adamdriv',
 'adamsandl',
 'adamscott',
 'adapt',
 'add',
 'addict',
 'addit',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adolf',
 'adolfhitl',
 'adopt',
 'ador',
 'adrienbrodi',
 'adrift',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'adults',
 'advanc',
 'adventur',
 'adventure',
 'adventures',
 'adversari',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affairs',
 'affect',
 'afflict',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aft',
 'aftercreditssting',
 'afterlif',
 'afterlife',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'aggressionbyanim',
 'ago',
 'agre',
 'ahead',
 'aid',
 'ail',
 'aim',
 'ain',
 'air',
 'airlin',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'aladdin',
 'alainchabat',
 'alan',
 'alanarkin',
 'alanrickman',
 'alaska',
 'albert',
 'alcatraz',
 'alcohol',
 'aldobaglio',
 'alecbaldwin',
 'alex',
 'alexanderskarsgård',
 'alexisbledel',
 'alexpettyf',
 'ali',
 'alic',
 'alice',
 'aliciavikand',
 'alien',
 'alieninfect',
 'alieninvas',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'aliv',
 'alive',
 'allen',
 'alley',
 'alli',
 'allianc',
 'allow',
 'alon',
 'alongsid',
 'alp',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alternater',
 'alway',
 'alzheimer',
 'amanda',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'amberheard',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanfootbal',
 'americanfootballplay',
 'ami',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'amypoehl',
 'amysmart',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrew',
 'andrewgarfield',
 'android',
 'andy',
 'andygarcía',
 'andysamberg',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'angelo',
 'anger',
 'angri',
 'ani',
 'anim',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'anne',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'anniversari',
 'announc',
 'annoy',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyhopkin',
 'anthonymacki',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antonio',
 'antoniobandera',
 'antonyelchin',
 'anymore',
 'anyon',
 'anyth',
 'apart',
 'apartment',
 'ape',
 'apes',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'apollo',
 'appar',
 'appear',
 'apple',
 'appoint',
 'appreci',
 'apprehend',
 'apprentic',
 'approach',
 'april',
 'ar',
 'arab',
 'arbitrarylaw',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'area',
 'aren',
 'arena',
 'argentina',
 'argument',
 'aris',
 'aristocrat',
 'arizona',
 'arm',
 'armi',
 'armor',
 'armsdeal',
 'armstrong',
 'army',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'arrest',
 'arriv',
 'arrival',
 'arrives',
 'arrog',
 'arson',
 'art',
 'artgalleri',
 'arthur',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'artists',
 'asabutterfield',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'ass',
 'assassin',
 'assassins',
 'assault',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asterix',
 'asteroid',
 'astronaut',
 'astronom',
 'asylum',
 'atheist',
 'athlet',
 'atom',
 'atomicbomb',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attemptedmurd',
 'attempttoescap',
 'attend',
 'attent',
 'attention',
 'attic',
 'attitud',
 'attitude',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'audreyhepburn',
 'audreytaut',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austria',
 'austrian',
 'author',
 'autism',
 'auto',
 'autobot',
 'automobilerac',
 'aveng',
 'averag',
 'aviat',
 'avoid',
 'await',
 'awaits',
 'awaken',
 'awar',
 'award',
 'away',
 'awesom',
 'awkward',
 'awri',
 'awry',
 'ax',
 'axe',
 'axel',
 'axemurd',
 'babe',
 'babi',
 'baby',
 'babysit',
 'babysitt',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'backyard',
 'bad',
 'badluck',
 'bag',
 'bahama',
 'bail',
 'bailey',
 'baker',
 'balanc',
 'ball',
 'ballet',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbi',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'bars',
 'bartend',
 'bas',
 'base',
 'basebal',
 'baseball',
 'basedonchildren',
 'basedoncom',
 'basedonfairytal',
 'basedongraphicnovel',
 'basedonmanga',
 'basedonnovel',
 'basedonplayormus',
 'basedonshortstori',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'bat',
 'bate',
 'bath',
 'bathtub',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'bdsm',
 'beach',
 'bear',
 'beard',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bedtim',
 'bee',
 'beer',
 'beethoven',
 'befor',
 'befriend',
 'began',
 'begin',
 'beginning',
 'begins',
 'beginsth',
 'begun',
 'behavior',
 'behead',
 'belgium',
 'belief',
 'believ',
 'believe',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'bernard',
 'berni',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'betray',
 'betrayal',
 'better',
 'betti',
 'beverli',
 'bi',
 'bibl',
 'biblic',
 'bicycl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'billhad',
 'billi',
 'billion',
 'billionair',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billycrudup',
 'billycryst',
 'biographi',
 'biolog',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'birthdayparti',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitten',
 'bitter',
 'bittersweet',
 'bizarr',
 'black',
 'blackandwhit',
 'blackhumor',
 'blackmag',
 'blackmail',
 'blackout',
 'blackpeopl',
 'blade',
 'blakel',
 'blame',
 'blast',
 'blaze',
 'blend',
 'bless',
 'blind',
 'blindnessandimpairedvis',
 'bliss',
 'blizzard',
 'block',
 'blond',
 'blonde',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'bloom',
 'blossom',
 'blow',
 'blown',
 'blu',
 'blue',
 'blur',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bodi',
 'bodies',
 'body',
 'bodyguard',
 'bodyhorror',
 'bold',
 'bolt',
 'bomb',
 'bomber',
 'bond',
 'bondag',
 'bone',
 'book',
 'books',
 'boot',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'boundaries',
 'bounti',
 'bountyhunt',
 'bout',
 'bowl',
 'box',
 'boxer',
 'boxingmatch',
 'boy',
 'boyfriend',
 'boys',
 'brad',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brainwash',
 'brand',
 'brash',
 'brave',
 'braveri',
 'brawl',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breakup',
 'breath',
 'breathtak',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brian',
 'bride',
 'bridg',
 'bridget',
 'bridgetfonda',
 'brief',
 'brielarson',
 'bright',
 'brightest',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britisharmi',
 'britishsecretservic',
 'brittanymurphi',
 'brittrobertson',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brood',
 'brooklyn',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucewilli',
 'brutal',
 'bryancranston',
 'bu',
 'bubbl',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'buddycop',
 'budget',
 'bug',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'bunch',
 'bunker',
 'bunni',
 'bureaucraci',
 'burglar',
 'buri',
 'buried',
 'buriedal',
 'burn',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butcher',
 'butler',
 'butt',
 'button',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'calcul',
 'california',
 'callahan',
 'called',
 'calling',
 'calm',
 'calvin',
 'camcord',
 'came',
 'camera',
 'cameraman',
 'camerondiaz',
 'camp',
 'campaign',
 'campu',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'cane',
 'canin',
 'cannib',
 'canuxploit',
 'capabl',
 'caper',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captor',
 'captur',
 'capture',
 'captured',
 'car',
 'caraccid',
 'caravan',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'careymulligan',
 'cargo',
 'caribbean',
 'carjack',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carniv',
 'carol',
 'carolina',
 'carrac',
 'carri',
 'carrie',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'caryelw',
 'carygr',
 'case',
 'cases',
 'casey',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'castle',
 'castrat',
 'casual',
 'cat',
 'cataclysm',
 'catapult',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherin',
 'catherinedeneuv',
 'catherinekeen',
 'catherinezeta',
 'cathol',
 'catholic',
 'cattl',
 'caught',
 'caus',
 'cave',
 'cavemen',
 'celebr',
 'celebration',
 'cell',
 'cellphon',
 'cemeteri',
 'cenobit',
 'center',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'ceremoni',
 'certain',
 'cgi',
 'chain',
 'chainsaw',
 'challeng',
 'challenge',
 'chamber',
 'champ',
 'champion',
 'championship',
 'chan',
 'chanc',
 'chance',
 'chang',
 'change',
 'changed',
 'changes',
 'channel',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charge',
 'charismat',
 'chariti',
 'charl',
 'charli',
 'charlie',
 'charliechaplin',
 'charliesheen',
 'charlizetheron',
 'charlott',
 'charlotterampl',
 'charm',
 'chart',
 'chase',
 'chasesandrac',
 'chauffeur',
 'cheat',
 'cheatinghusband',
 'check',
 'cheer',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chess',
 'chest',
 'chevychas',
 'chicago',
 'chick',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'childhoodfriend',
 'childhoodmemori',
 'childhoodtrauma',
 'childkidnap',
 'childmurd',
 'childprodigi',
 'children',
 'chile',
 'chill',
 'chimp',
 'china',
 'chinatown',
 'chines',
 'chip',
 'chipmunk',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chocol',
 'choic',
 'choice',
 'choices',
 'choos',
 'chose',
 'chosen',
 'chowyun',
 'chri',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chriso',
 'chrispin',
 'chrispratt',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianclavi',
 'christianslat',
 'christin',
 'christinaappleg',
 'christinaricci',
 'christma',
 'christmas',
 'christmasev',
 'christmasparti',
 'christmastre',
 'christoph',
 'christopherlambert',
 ...]

In [68]:
#now we will calculate the cosine distance(angle between vectors) in higher dimensions as it is more reliable then eucldian distance
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors) #calculating the cosine distances in multidimensional array

In [69]:
similarity

array([[1.        , 0.02361042, 0.02232925, ..., 0.00679796, 0.11295178,
        0.00303807],
       [0.02361042, 1.        , 0.01001787, ..., 0.        , 0.01657146,
        0.        ],
       [0.02232925, 0.01001787, 1.        , ..., 0.03110613, 0.04722687,
        0.01046686],
       ...,
       [0.00679796, 0.        , 0.03110613, ..., 1.        , 0.01292602,
        0.00468143],
       [0.11295178, 0.01657146, 0.04722687, ..., 0.01292602, 1.        ,
        0.02205862],
       [0.00303807, 0.        , 0.01046686, ..., 0.00468143, 0.02205862,
        1.        ]])

In [70]:
def recommend(movie):
    # function to store recommended movies index so that it could be later used for showing list  
    movie_index =new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted (list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:21]
    #above line will pair the index with cosine values so that it do not gets lost 
    recommendation=[]
    for i in movies_list:
        recommendation.append(i[0])
    return recommendation

In [71]:
recommend('Fast Five')

[1623,
 3480,
 5266,
 4539,
 2054,
 5365,
 390,
 284,
 2354,
 308,
 3160,
 3943,
 4407,
 1426,
 922,
 2160,
 4600,
 1374,
 5741,
 3125]

In [72]:
new_df['TfIdf']=new_df['title'].apply(recommend) #applying recommend to all the rows of movies

In [73]:
new_df=new_df[['id','title','TfIdf','BagOfWords']]

In [74]:
new_df

,id,title,TfIdf,BagOfWords
0,862,Toy Story,"[3764, 1241, 5029, 4676, 5130, 405, 5028, 724,...","[5029, 1241, 3764, 6048, 4676, 5972, 5843, 561..."
1,8844,Jumanji,"[1520, 4399, 4486, 4433, 2838, 1173, 5776, 414...","[1520, 227, 4399, 4144, 2838, 4433, 35, 4384, ..."
2,11862,Father of the Bride Part II,"[2166, 3002, 1970, 5451, 4275, 4702, 5619, 351...","[5619, 1970, 660, 5451, 3379, 4423, 4306, 5284..."
3,949,Heat,"[2734, 1862, 2160, 701, 580, 186, 4561, 3674, ...","[1862, 2160, 2734, 1646, 2354, 1847, 1151, 504..."
4,11860,Sabrina,"[328, 4702, 4692, 2818, 1917, 5354, 4037, 3866...","[3866, 3112, 574, 1817, 3808, 4190, 2818, 328,..."
...,...,...,...,...
6045,417320,Descendants 2,"[5456, 4248, 3554, 3176, 3738, 4650, 3396, 429...","[5456, 3554, 3461, 1252, 4684, 3396, 3738, 225..."
6046,277839,"Good Guys Go to Heaven, Bad Guys Go to Pattaya","[2853, 4537, 2736, 2120, 2270, 5238, 377, 4617...","[4617, 1166, 6042, 2736, 2635, 2120, 5102, 377..."
6047,248705,The Visitors: Bastille Day,"[268, 4167, 3535, 507, 1588, 5185, 162, 5230, ...","[268, 4167, 1984, 5692, 507, 4247, 3430, 515, ..."
6048,455661,In a Heartbeat,"[4055, 1303, 5002, 3850, 5707, 1148, 1997, 566...","[5002, 3850, 4055, 1303, 5306, 5023, 2168, 358..."
6049,14008,Cadet Kelly,"[2252, 3419, 4435, 4421, 3149, 1854, 2894, 461...","[3419, 1854, 771, 4435, 2827, 4421, 4927, 5663..."

In [82]:
new_df['title'][1623]

'The Fast and the Furious'

In [75]:
import pickle
pickle.dump(new_df,open('content_based.pkl','wb')) #dumping the final processed file